{% extends 'master.html' %}
{% block title %} Create Cart {% endblock %}

{% block content %}
<section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge" style="background-image: url('images/single-image1.png');background-position: right; background-repeat: no-repeat;">
    <div class="row d-flex flex-wrap align-items-center">
        <section id="subscribe" class="container-grid padding-large position-relative overflow-hidden">
            <div class="container">
                <div class="text-content offset-4 padding-medium">
                    <h1> You Don't have cart space.</h1>
                    <h1> Do you need ?</h1>
                   </div>
              <div class="row">
                <div class="subscribe-content  d-flex flex-wrap justify-content-center align-items-center padding-medium" style="background-color:darkgray" >
                  <div class="col-md-6 col-sm-12">
                    <div class="display-header pe-3">
                        <a class="btn btn-medium btn-danger text-uppercase btn-rounded-none" href="{% url 'index' %}" >Not Needed </a>
                    </div>
                  </div>
                 
                    <form class="subscription-form validate" method="POST" action="{% url 'createcartid' %}">
                      {% csrf_token %}
                      <div class="input-group flex-wrap">
                        <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit">Needed</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </section>
  
    </div>
</section>


{% endblock content %}