{% extends "master.html" %}
{% block title %}
Profile
{% endblock title %}

{% block content %}
</br> </br> </br> </br> </br>
{% if user.is_authenticated %}
<div class="container" style="background-color:#3d0c02">
    <div class="main-body">
        <h1 class = "text-center " style="color: aliceblue; text-transform: uppercase;background-color:black"> <B> Profile</B> </h1>
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3" >
              <div class="card" style="background-color:#3d0c02 ">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{user.image.url}}" alt="Admin" class="rounded-circle" width="200">
                    <div class="mt-3">
                      <h4 class="text-secondary mb-1"><b> {{user.username}} </b></h4>
                      <p class="text-secondary mb-1"><b><i class="fa-solid fa-calendar-days"></i> &nbsp;{{user.DoB}}</b></p>
                      <p class="text-muted font-size-sm"><b><i class="fa-solid fa-envelope"></i>&nbsp; {{user.email}}</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                </br> </br>
            <div class="col-md-8" >
            </br>
              <div class="card mb-3">
                <div class="card-body" style="background-color: #f8f8ff ;">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{user.first_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.last_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{user.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date of Birth</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{user.DoB}}
                    </div>
                  </div>
                  <hr>
                  {% comment %} <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                    </div>
                  </div> {% endcomment %}
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
{% else %}
{% endif %}
{% endblock content %}