{% extends 'master.html' %}
{% block title %}
 Search result
{% endblock title %}
{% block content %}

<section id="latest-blog" class="padding-large">
    <div class="container">
     
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3" style="background-color:#E7DDFF">
          <h2 class="display-7 text-dark text-uppercase">Search Result</h2>
          <div class="btn-right">
            <a href=""class="btn btn-medium btn-normal text-uppercase"></a>
          </div>
        </div>
        </br>
        <div class="post-grid d-flex flex-wrap justify-content-between">
            
          {% for product in products %}
          <div class="col-lg-4 col-sm-12">
            <div card border-none me-3>
              <div class="card-image">
                <img src="{{product.image.url}}" alt="" class="img-fluid" id="ConIMG">
              </div>
            </div>
            <div class="card-body text-uppercase">
              <div class="card-meta text-muted">
                <h3 class="card-title">
                  <a href="{% url 'decsription' product.id %}">{{product.name|truncatechars:40}}<a href="{% url 'decsription' product.id %}" style="color:#6082b6 ">See more</a></a>
                </h3>
                <span class="meta-date"><h5>Just At </h5></span>
              </div>
              
              <span class="item-price" style="color:#324ab2"><h3>Rs.{{product.price}} </h3></span> 
              <div class="cart-button d-flex">
                <a href="{% url 'Order' product.id %}" class="demo">Buy Now</a> &nbsp;&nbsp;
                <a href="{% url 'Cartform' product.id %}"  class="btn-cart">Add to cart</a>
               
              {% comment %} <a href="#" class="btn btn-medium btn-black">Add to cart</a> {% endcomment %}
              </div>             
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
     
    </div>
  </section>

{% endblock content %}